.card {
	opacity: 1;
	margin: 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	background: #f2f3f7;
	box-shadow: 6px 6px 16px #becde2, -6px -6px 16px #ffffff;
	border-radius: 40px;

	height: 37rem;
	width: 30rem;
	max-width: 30rem;

	display: flex;
	flex-direction: column;

	.label-card {
		color: #444444;
		padding: 0.3rem;
		margin: 1rem;
		background: #f2f3f7;
		box-shadow: inset 6px 6px 16px #becde2, -6px -6px 16px #ffffff;
		border-radius: 40px;
		font-weight: 900;
	}

	.card--icon {
		margin: 2rem auto;
		width: 6.2rem;
		height: 6.2rem;
	}

	.card--title {
		font-family: 'Roboto';
		font-weight: 900;
		font-size: 3rem;
		text-align: center;
	}

	.card--text {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: normal;
		font-size: 2rem;
		text-align: center;

		margin: 1rem;
		margin-bottom: 3rem;
	}

	.card--btn {
		margin: 1rem auto;
		border-radius: 1rem 1rem;
		max-width: 70%;
	}

	img {
		width: 100%;
		height: 100%;
	}
}
