.footer {
    background-image: url("./../asset/img/footer.svg");
    background-size: cover;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;

    padding-top: 5rem;

    .footer--right {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin-left: 2rem;

        a {
            max-width: 15rem;
            margin-bottom: 2rem;
        }
    }

    .footer--left {
        display: flex;
        flex-direction: column-reverse;

        .footer--btn {
            margin: 2rem;
        }
    }
}