.label {
	color: white;

	padding: 0.1em 3rem;
	box-shadow: 0px 1px 2px rgba(44, 39, 56, 0.01);
	border-radius: 18px;
}

.label-c {
	background-color: #f2ac57;
}

.label-csharp {
	background-color: #a333c8;
}

.label-unity {
	background-color: #333333;
}

.label-php {
	background-color: #2185d0;
}

.label-javascript {
	background-color: #f2ac22;
}

.label-css {
	background-color: #210fd0;
}

.label-html {
	background-color: #db2828;
}

.label-typescript {
	background-color: #2f74c0;
}

.label-cpp {
	background-color: #005697;
}

.label-python {
	background-color:#a2b730;
}

.label-mysql {
	background-color: #dd8a00;
}

.label-git {
	background-color: #f63e1d 
}

.label-linux {
	background-color: #e8c838;
}

.label-latex {
	background-color: #53a554;
}

.label-pair-programming {
	background-color: #2ebfc5;
}

.label-tdd {
	background-color: #e84d34;
}