.main {
	margin: 15vh 0vh 15vh 15%;
	min-height: 75vh;

	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;

	.title {
		vertical-align: middle;
		max-width: 30rem;
	}

	.main--container {

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		.body {
			font-family: 'Roboto';
			font-weight: 900;
			font-size: 6rem;
			line-height: 10rem;
			color: #333333;


			margin-bottom: 5vh;
		}

		.other-font {
			font-family: 'Pacifico';
			background: -webkit-linear-gradient(297.27deg, #9708cc 12.78%, #43cbff 103.08%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.btn-primary {
			max-width: 50rem;

			font-size: 3rem;
		}

	}

	img {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {

	.main {
		.title {
			vertical-align: middle;
			max-width: 20rem;
		}

		.main--container {
			.btn-primary {
				max-width: 100%;
	
				font-size: 3rem;
			}

			.body {
				font-size: 4rem;
				line-height: 8rem;
				color: #333333;
			}

		}

	}
}
