// Import font
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;900&display=swap');

html {
    // 1 rem == 10px
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Pacifico', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;

    color: #FFFFFF;
}

/* Importe compenent style*/
@import 'scrollbar';
@import 'button';
@import 'card';
@import 'skill';
@import 'footer';

/* Import front style */
@import 'main';
@import 'project';